---
layout: default
title: Tags - 0X1A
---
<div class="row">
    <div class="col-lg-12 section">
    <h1 class="section-heading">Tags</h1>
    <ul class="posts">
        <h3>Dev</h3>
        {% for post in site.tags.dev limit: 20 %}
        <li>
        <a href="{{ post.url }}">{{ post.title }}</a> | <span>{{ post.date | date_to_string }}</span>
        </li>
        {% endfor %}
        <h3>KDE</h3>
        {% for post in site.tags.kde limit: 20 %}
        <li>
        <a href="{{ post.url }}">{{ post.title }}</a> | <span>{{ post.date | date_to_string }}</span>
        {% endfor %}
        </li>
        <h3>Misc</h3>
        {% for post in site.tags.misc limit: 20 %}
        <li>
        <a href="{{ post.url }}">{{ post.title }}</a> | <span>{{ post.date | date_to_string }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
</div>
