---
layout: default
---
<div class="row">
    <div class="col-lg-12 section">
        <h1 class="section-heading">{{ page.title }}</h1>
	<p class="section-lead">{{page.desc}}</p>
	<p class="meta"><i class="fa fa-calendar"></i> {{ page.date | date_to_string }} | <a href="{{ site.url }}/blog/tags"> <i class="fa fa-tags"></i> {{ page.tags }}</a></p>
        <div class="post">
            {{ content }}
        </div>
    </div>
</div>
{% include disqus.html %}